{% extends 'main.html' %}
{% block title %}
<title>Blog Page</title>
{% endblock title %}
{% block body %}
<h1 class="text-center my-3">Blog Page</h1>
<form action="\blogpost" method="POST">
    <div class="container">
        <div class="mb-3 col-6">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Title here"
                  name="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Enter description here...." name="content"></textarea>
        </div>
        <div class="mb-3 col-6">
            <label for="exampleFormControlInput1" class="form-label">Author</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Author name here"
                  name="author">
        </div>
        <input type="Submit" value="POST" class="btn btn-primary">
    </div>
</form>
{% endblock body %}